

<%= form_for @task do |f| %>
  <%= f.label :name, "Task name..." %>
  <%= f.text_field :name %>
  <%= f.label :details, "Describe the task..." %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>







<!-- <form action="/tasks" method="post">

  <label for="name">Enter a name for the new task</label>
  <input type="text" name="task[name]">

  <label for="name">Describe the task</label>
  <input type="text" name="task[details]">

  <input type="submit">

</form> -->